@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$yellow: #FBDB00;
$backgroundFooter: #010101;
$backgroundFeatures: #FFFFFF;

$footerTextColor: #888888;
$headerTextColor: #000000;
$featuresTextColor: #000;




$font: 'Open Sans', sans-serif;